<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>url.craft.takanabe</string>
	<key>connections</key>
	<dict>
		<key>33D680C3-C4FC-4628-8346-D12AFA07C73F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8432922-96F1-47AA-890C-6B9D63273F3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0E81DCE5-742B-44D4-A068-D3E57FF41AC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AD625230-9102-4044-82E6-5DC3537D3C44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33D680C3-C4FC-4628-8346-D12AFA07C73F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>takanabe</string>
	<key>description</key>
	<string>A workflow tha make crafted url such as "shorten url" or "Github Flavored Markdown Link"</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>URL craft</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>URL craft completed !!</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B8432922-96F1-47AA-890C-6B9D63273F3F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>python ./craft_sclipt.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>33D680C3-C4FC-4628-8346-D12AFA07C73F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>ug</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Now crafting ...</string>
				<key>script</key>
				<string>python ./craft_gfm_link.py {query}</string>
				<key>title</key>
				<string>Craft url as a GFM format link</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AD625230-9102-4044-82E6-5DC3537D3C44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0E81DCE5-742B-44D4-A068-D3E57FF41AC0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow make a url such as “shorten url” or “github flavored markdown link”.</string>
	<key>uidata</key>
	<dict>
		<key>0E81DCE5-742B-44D4-A068-D3E57FF41AC0</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>33D680C3-C4FC-4628-8346-D12AFA07C73F</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>AD625230-9102-4044-82E6-5DC3537D3C44</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>B8432922-96F1-47AA-890C-6B9D63273F3F</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>blog.takanabe.tokyo</string>
</dict>
</plist>
